.list {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10px;
    background-color: darkgray;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid transparent;
}

.list > div {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.list.dragging {
    border: 2px solid rebeccapurple;
}
